extends ./layout/index

block slider
    .slider
        h1 Río de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint hic incidunt optio vel fugiat ducimus architecto aperiam. Magni possimus error, officia officiis suscipit, inventore dignissimos magnam dolorum sint cupiditate, odit accusamus ullam ut vel facere incidunt delectus mollitia qui neque. Vel, suscipit. Quod sint debitis deserunt perferendis atque ducimus!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati explicabo perferendis voluptatum quo quam magnam vero a iste minus repellendus, esse recusandae ad accusamus culpa enim quaerat corrupti ex fugit fugiat accusantium? Ducimus optio illo quod temporibus dignissimos.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Cánada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        
        include ./layout/bloque_testimoniales


