extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci eius aperiam aliquam incidunt sunt reiciendis facilis nobis optio voluptatibus modi ipsam voluptate molestias dolor vitae et porro, odit alias, quas commodi sit excepturi ducimus amet!.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis a magnam quis sed mollitia quaerat, molestias quisquam quo suscipit incidunt fugiat, eaque illo fuga expedita? Veniam iusto deleniti distinctio labore deserunt consequuntur impedit architecto nisi modi repellat.

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus rerum facilis molestias at, quos minus magni ratione eligendi cum repudiandae cumque veniam in temporibus natus incidunt cupiditate eius unde provident nisi dolor? Ratione voluptates autem quae aspernatur, ducimus aliquid? Facilis praesentium nihil impedit nemo dolor minus officiis sint, a quam mollitia iure doloribus esse, nam consequuntur.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quis molestiae architecto eveniet incidunt provident id atque commodi, iusto delectus nesciunt similique nulla dolorem libero!

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quis molestiae architecto eveniet incidunt provident id atque commodi, iusto delectus nesciunt similique nulla dolorem libero!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quis molestiae architecto eveniet incidunt provident id atque commodi, iusto delectus nesciunt similique nulla dolorem libero!